<br>
<h4><b>What is Angular Material?</b></h4>
It is an UI library component developed by Google in 2014. It is specially designed for AngularJS developers. It helps to design the application in a structured manner. 
Its components help to construct attractive, consistent, and functional web pages and web applications. It is used to create a responsive and faster website.
<p>It attracts users and access the elements or components present in our application. It also helps to design our applications with unique styles and shapes.
These components make the application or website more consistent and design responsive. It combines the classic principles of successful design with innovation and technology.</p>
<br>
<h4><b>Why Angular Material?</b></h4>
<ul class="points">
    <li>It is an In-built responsive design.</li>
    <li>Angular Material has standard CSS.</li>
    <li>Angular Material has standard CSS.</li>
    <li>The new version of UI Components which are buttons, checkboxes, and text fields is used to follow Angular Material Design concepts.</li>
    <li>It has specialized features such as cards, toolbar, speed dial, side nav, swipe, side nav, and more.</li>
    <li>It is a cross-platform browser and it is used to create web components.</li>
</ul>

<div style="text-align:left; width: 50%;">
    <button type="button" class="btn btn-primary pull-right" routerLink="/payment" (Onclick)="btnClick();"> <b>Enroll Now!</b></button>
  </div>