<div class="outer">
<div class="container">
<div class="row">
<div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
<div class="panel border bg-white">
<div class="panel-heading">
<h3 class="pt-3 font-weight-bold">Student Login</h3>
</div>
<div class="panel-body p-3">
    <form [formGroup]="studentloginform">
        <!-- <div class="form-group pt-3">
            <div class="input-field">
                <span class="fa fa-user p-2"></span>
                <input type="text" placeholder="Username" required>
            </div>
        </div> -->
        <div class="form-group pt-3">
            <div class="input-field" [class.error]="studentloginform.controls['UserName'].dirty && studentloginform.hasError('required','UserName')">
                <span class="fa fa-user p-2"></span>
                <input formControlName="UserName" type="text" placeholder="UserName">
            </div>                            
         </div>
         <small *ngIf="studentloginform.controls['UserName'].dirty && studentloginform.hasError('required','UserName')" class="text-danger">*Username is required</small>
         
<!--         
        <div class="form-group pt-3">
            <div class="input-field">
                <span class="fa fa-lock p-2"></span>
                    <input [type]="type" placeholder="Password" required>
                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>                
            </div>
        </div> -->
        <div class="form-group pt-3">
            <div class="input-field" [class.error]="studentloginform.controls['Password'].dirty && studentloginform.hasError('required','Password')">
                <span class="fa fa-lock p-2"></span>
                    <input formControlName="Password" [type]="type" placeholder="Password">
                     <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>              
            </div>                            
         </div>
         <small *ngIf="studentloginform.controls['Password'].dirty && studentloginform.hasError('required','Password')" class="text-danger">*Password is required</small>
       
        <!-- <div class="form-inline fr-mt-4">
            <a id="forget" class="font-weight-bold">Forget Password</a>
        </div> -->
        <button type="submit" id="btn-primary" class="btn btn-primary btn-block mt-4 w-100"(click)=" login()">Login</button>
        <div class="text-center pt-4 text-muted">Don't have account? <a id="forget" routerLink="/studentsignup">Signup</a></div>
    </form>
</div>
</div>
</div>
</div>
</div>
</div>