<section class="dashboard-wrap mtb-40">
    <div class="container">
          <div class="body-content">
          <div class="row">
            <div class="col-md-3">
                      <div class="dash-left">
                          <ul>
                            <li class="active"><a routerLink="/studentdashboard" routerLinkActive="active" class="nav-link">Dashboard</a></li>
                            <li class="active"><a routerLink="/coursedetails" routerLinkActive="active" class="nav-link">Online Lectures</a></li>
                            <li class="active"><a routerLink="/welcome" routerLinkActive="active" class="nav-link">Online Test</a></li>
                              <li><a (click)="logout()">Logout</a></li>
                          </ul>
                      </div>   
                  </div>
                  <div class="col-md-9">
                      <div class="dash-right">
                          <h1>Student Dashboard!</h1>
                          <p>Online Education System is amazing and easy to learn from basic to advanced level. The guy who is teaching on YouTube its wonderful and he has just taught a lesson is very basic to advanced level and each and every point explain well even non technical person would see the vedio carefully i am sure he or she can develop application easily. Special this tutorial for fresher level even the person with experience level sometimes they would not know some point so this system the best resource for Online Education.</p>
                      </div>   
                  </div>
          </div>
          </div>
          <!-- <button type="button" class="btn btn-primary" (click)="back()">Back</button> -->
    </div>
</section>