<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 style="color: brown;" class="pt-3 font-weight-bold">Teacher Login</h3>
                    </div>
                    <div class="panel-body p-3">
                       <form [formGroup]="teacherloginForm">
                         <div class="form-group pt-3">
                            <div class="input-field" [class.error]="teacherloginForm.controls['username'].dirty && teacherloginForm.hasError('required','username')">
                                <span class="fa fa-user p-2"></span>
                                <input formControlName="username" type="text" placeholder="Username">
                            </div>                            
                         </div>
                         <small *ngIf="teacherloginForm.controls['username'].dirty && teacherloginForm.hasError('required','username')" class="text-danger">*Username is required</small>
                         <div class="form-group pt-3">
                            <div class="input-field" [class.error]="teacherloginForm.controls['password'].dirty && teacherloginForm.hasError('required','password')">
                                <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="Password">
                                     <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>              
                            </div>                            
                         </div>
                         <small *ngIf="teacherloginForm.controls['password'].dirty && teacherloginForm.hasError('required','password')" class="text-danger">*Password is required</small>
                       
                         <button (click)="onLogin()" type="submit" style="background-color:green;" class="btn btn-primary btn-lock mt-4 w-100">Login</button>
                         <!-- <div class="text-center pt-4 text-muted">Dont have an account? <a id="forget" routerLink="/signup">Sign Up</a></div> -->
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>