
<section class="dashboard-wrap mtb-40">
    <div class="container">
          <div class="body-content">
          <div class="row">
            <div class="col-md-3">
                      <div class="dash-left">
                          <ul>
                            <li class="active"><a routerLink="/teacherdashboard" routerLinkActive="active" class="nav-link">Dashboard</a></li>
                            <li class="active"><a routerLink="/attendance" routerLinkActive="active" class="nav-link">Student's Attendance</a></li>
                              <li><a (click)="logout()">Logout</a></li>
                          </ul>
                      </div>   
                  </div>
                  <div class="col-md-9">
                      <div class="dash-right">
                          <h1>Teacher Dashboard!</h1>
                          <p>Online Education System is amazing and easy to learn from basic to advanced level. The guy who is teaching on YouTube its wonderful and he has just taught a lesson is very basic to advanced level and each and every point explain well even non technical person would see the vedio carefully i am sure he or she can develop application easily. Special this tutorial for fresher level even the person with experience level sometimes they would not know some point so this system the best resource for Online Education.</p>
                    
            <!-- <button type="button" class="btn btn-primary" (click)="back()">Back</button> -->  
          </div>
        </div>   
          </div>
          </div>
          </div>
        </section> 
      
  <!-- <div class="container-fluid">
    <h1 style="color: white;">AddCoursesDetails</h1>
    <div class="d-flex">
        <button  (click)="clickAddCourses()"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Courses</button>
    </div>
</div>
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Course_ID</th>
            <th scope="col">Course_Title</th>
            <th scope="col">Course_Discription</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of coursesData">
            <td>{{row.Course_ID}}</td>
            <td>{{row.Course_Title}}</td>
            <td> {{row.Course_Discription}}</td>
            <td>{{row.Price}} </td>
            <td>
                <!-- <button (click)="onEdit(row)" style="color: aliceblue;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn btn-info">Edit</button> -->
                <!-- <button (click)="deleteCourses(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table> -->

  <!-- <div class="modal-footer"> -->
    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
    <!-- <button *ngIf="showAdd" (click)="AddCourses()" type="button" (click)="postCourses()" class="btn btn-primary">Add</button> -->
    <!-- <button *ngIf="showUpdate" type="button" (click)="updateCourses()" class="btn btn-primary">Update</button> -->
  <!-- </div>  -->

  
  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Courses</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button  type="button" *ngIf="showAdd" (click)="clickAddCourses()" (click)="postCourses()" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div> -->

  