<br>
<h4><b>What is Entity Framework?</b></h4>
 It is an open-source ORM (Object Relational Mapping) Framework for the .NET applications supported by Microsoft. It enables the developers to work with the data using the objects of domain-specific classes without focussing on the database tables and columns where the data is stored. 
 With the help of Entity Framework, we can create and maintain data-oriented applications with less code when compared with traditional applications.
Entity Framework is an Object-Relational Mapper which enable the .NET developers to work with the database using the .NET objects. It eliminates the need for accessing the code of the data that developers need to write.
<br>
<br>
<h4><b>Why Entity Framework is reqiured?</b></h4>
<p>Entity Framework is an ORM and ORMs are aimed to increase the developer’s productivity by reducing the redundant task of persisting the data used in the applications.</p>
<ul class="points">
<p><li>Entity Framework can generate the necessary database commands for reading or writing data in the database and execute them for you.
</li><br>
    <li>Entity Framework will execute the relevant query in the database and then materialize results into instances of your domain objects for you to work within your app.</li>
   <br>
    <li>If you're querying, you can express your queries against your domain objects using LINQ to entities.</li>
    </ul>
    <div style="text-align:left; width: 50%;">
      <button type="button" class="btn btn-primary pull-right" routerLink="/payment1" (Onclick)="btnClick();"> <b>Enroll Now!</b></button>
</div>