<h4><b>What is CSS?</b></h4> is used to control the style of a web document in a simple and easy way.
CSS is the acronym for "Cascading Style Sheet". This tutorial covers both the versions CSS1,CSS2 and CSS3, and gives a complete understanding of CSS, starting from its basics to advanced concepts.

    <h4><b>Why to Learn CSS?</b></h4>
    <ul class="points">
        <p>Cascading Style Sheets, fondly referred to as CSS, is a simple design language intended to simplify the process of making web pages presentable.
            CSS is a MUST for students and working professionals to become a great Software Engineer specially when they are working in Web Development Domain.
            I will list down some of the key advantages of learning CSS:</p>
        <li><B>Create Stunning Web site -</B> CSS handles the look and feel part of a web page. Using CSS, you can control the color of the text, the style of fonts, the spacing between paragraphs, how columns are sized 
            and laid out, what background images or colors are used, layout designs,variations in display for different devices and screen sizes as well as a variety of other effects.
            </li>
        <li><B>Become a web designer -</B> If you want to start a carrer as a professional web designer, HTML and CSS designing is a must skill.
        </li>
        <li><B>Control web -</B> CSS is easy to learn and understand but it provides powerful control over the presentation of an HTML document. Most commonly, CSS is combined with the markup languages HTML or XHTML.
        </li>
        <li><B>Learn other languages -</B> Once you understands the basic of HTML and CSS then other related technologies like javascript, php, or angular are become easier to understand.</li>
    </ul>
    <div style="text-align:left; width: 50%;">
      <button type="button" class="btn btn-primary pull-right" routerLink="/payment2" (Onclick)="btnClick();"> <b>Enroll Now!</b></button>
</div>