<h4><p>What is Python?</p></h4>
<p>Python is a very popular general-purpose interpreted, interactive, object-oriented, and high-level programming language. 
  Python is dynamically-typed and garbage-collected programming language. It was created by Guido van Rossum during 1985- 1990. 
  Like Perl, Python source code is also available under the GNU General Public License (GPL).</p>

<br>  
<h4><b>Why to Learn Python?</b></h4>
<p>Python is consistently rated as one of the world's most popular programming languages. Python is fairly easy to learn, so if you are starting to learn any programming language then Python could be your great choice. Today various Schools, Colleges and Universities are teaching Python as their primary programming language. 
  There are many other good reasons which makes Python as the top choice of any programmer:</p>
<ul class="points">
  <li>Python is Open Source which means its available free of cost.</li>
  <li>Python is simple and so easy to learn</li>
  <li>Python is versatile and can be used to create many different things.</li>
  <li>Python has powerful development libraries include AI, ML etc.</li>
  <li>Python is much in demand and ensures high salary</li>
</ul>
<div style="text-align:left; width: 50%;">
    <button type="button" class="btn btn-primary pull-right" routerLink="/payment" (Onclick)="btnClick();"> <b>Enroll Now!</b></button>
  </div>