<h1><u>Angular full course:</u></h1>
<div style="text-align:center"><div id="instructions">
  
    <video id="my_video_1" class="video-js vjs-default-skin" width="950px" height="500px" controls preload="none"
      poster='../../assets/video/Angular in 100 Seconds.jpg'
      data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
      <!-- <source src="https://www.youtube.com/watch?v=k5E2AVpwsko&t=2255s.mp4" type='video/mp4' /> -->
      <source src="../../assets/video/Angular in 100 Seconds.webm" type='video/webm' /> 
      <source src="../../assets/video/Angular in 100 Seconds.mp4" type='video/mp4' />
    </video>
    <br><br>
    <button id="a" (click)="playPause()">Play/Pause</button>&nbsp;
    <button id="a" (click)="makeBig()">Big</button>&nbsp;
    <!-- <button (click)="makeSmall()">Small</button>&nbsp;
    <button (click)="makeNormal()">Normal</button>&nbsp; -->
    <button id="a" (click)="restart();">Restart</button>&nbsp;
    <!-- <button (click)="skip(-10)">Rewind</button>&nbsp; -->
    <button id="a" (click)="skip(10)">Fastforward</button>
    <br><br>
    <h3>content:</h3>
    <p>Learners will work on hands-on exercises, culminating in development of a full-fledged application at the end of each course. Each course also includes a mini-Capstone Project as part of the Honors Track where you’ll apply your skills to build a fully functional project.
      Shareable CertificateEarn a Certificate upon completion.This course concentrates mainly on Javascript based front-end frameworks, and in particular the Angular framework (Currently Ver. 6.x). This course will use Typescript for developing Angular application.
       Typescript features will be introduced in the context of Angular as part of the exercises. You will also get an introduction to the use of Angular Material and Angular Flex-Layout for responsive UI design.
       You will be introduced to various aspects of Angular including components, directives and services</p>
    <button type="button" class="btn btn-primary" (click)="back()">Back</button>
  </div>
 
  </div>